idnits reports unused references... which are actually used

### Describe the issue

https://author-tools.ietf.org/api/idnits?url=https://www.ietf.org/archive/id/draft-ietf-pce-pcep-extension-native-ip-35.txt

produces the below-appended output. The first complaint, for iana-update, is right, but I see references in the body text for the other three. 

  Checking references for intended status: Experimental
  ----------------------------------------------------------------------------

  == Unused Reference: 'I-D.ietf-pce-iana-update' is defined on line 1474,
     but no explicit reference was found in the text

  == Unused Reference: 'RFC3209' is defined on line 1490, but no explicit
     reference was found in the text

  == Unused Reference: 'RFC7942' is defined on line 1583, but no explicit
     reference was found in the text

  == Unused Reference: 'RFC8177' is defined on line 1588, but no explicit
     reference was found in the text


### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

@jgscudder, These defects of old [idnits v2](https://github.com/ietf-tools/idnits/tree/v2) tool. These defects will be corrected in the new  [idnits v3](https://github.com/ietf-tools/idnits/tree/v3). But `idnits v3` is still in the alpha stage of development and most of the tests only work on XML output.

You can try the new version here: https://author-tools.ietf.org/idnits3
Example: https://author-tools.ietf.org/api/idnits3?url=https://www.ietf.org/archive/id/draft-ietf-pce-pcep-extension-native-ip-35.xml

You can report any bugs you find in `idnits v3` to https://github.com/ietf-tools/idnits/issues