IDNITS: Incorrects nits related to updates

### Describe the issue

See https://author-tools.ietf.org/api/idnits?url=https://www.ietf.org/archive/id/draft-dhody-pce-iana-update-03.txt

-- The draft header indicates that this document updates RFC29, but the
     abstract doesn't seem to mention this, which it should.

  -- The abstract seems to indicate that this document updates RFC9168, but
     the header doesn't have an 'Updates:' line to match this.

  -- The abstract seems to indicate that this document updates RFC8779, but
     the header doesn't have an 'Updates:' line to match this.

  -- The abstract seems to indicate that this document updates RFC8934, but
     the header doesn't have an 'Updates:' line to match this.

  -- The abstract seems to indicate that this document updates RFC8800, but
     the header doesn't have an 'Updates:' line to match this.

  -- The abstract seems to indicate that this document updates RFC8733, but
     the header doesn't have an 'Updates:' line to match this.

  -- The abstract seems to indicate that this document updates RFC9357, but
     the header doesn't have an 'Updates:' line to match this.

  -- The abstract seems to indicate that this document updates RFC9059, but
     the header doesn't have an 'Updates:' line to match this.

  -- The abstract seems to indicate that this document updates RFC8780, but
     the header doesn't have an 'Updates:' line to match this.

  -- The abstract seems to indicate that this document updates RFC9504, but
     the header doesn't have an 'Updates:' line to match this.

  -- The abstract seems to indicate that this document updates RFC8745, but
     the header doesn't have an 'Updates:' line to match this.

  -- The abstract seems to indicate that this document updates RFC9050, but
     the header doesn't have an 'Updates:' line to match this.

  -- The abstract seems to indicate that this document updates RFC8697, but
     the header doesn't have an 'Updates:' line to match this.


  Miscellaneous warnings:
  ----------------------------------------------------------------------------

  -- No information found for rfc29 - is the name correct?

### Code of Conduct

- [X] I agree to follow the [IETF's Code of Conduct](https://github.com/ietf-tools/.github/blob/main/CODE_OF_CONDUCT.md)

@dhruvdhody, This is because author-tools by default uses the original idnits tool.
There's a new "alpha" version (v3) of idnits available [^1].

This is available via https://author-tools.ietf.org/idnits3
The new idnits v3 works better with XML files, there are not a lot of checks on text files.
This is the output for XML version above draft: https://author-tools.ietf.org/api/idnits3?url=https://www.ietf.org/archive/id/draft-dhody-pce-iana-update-03.xml

Feel free to report any buys you find with idnits v3 so we can improve it.

[^1]: https://github.com/ietf-tools/idnits/tree/v3

Closing this issue as a new version of idnits in the pipeline.